<!-- lara -->

{% extends 'base.html' %}

{% block title %}
   Dodajte novu aktivnost
{% endblock %}

{% block content %}
    <!-- TO DO: home page content -->
    {% if user.is_authenticated %}
        <h3>Dodavanje nove aktivnosti</h3>
        <h5>Izaberite neku od sledecih kategorija:</h5>
            {% for c in categories %}
                <form method="post" action="{% url 'defineActivity' %}">
                  {% csrf_token %}
                  <input class="btn btn-primary "type="submit" name="cat" value="{{ c.name }}">
                </form>
                <br>
            {% endfor %}
         <br>
        <form method="post" action="{% url 'addCategory' %}">
        {% csrf_token %}
          <button type="submit" value="">Dodaj novu kategoriju</button>
        </form>
    {% else %}

    {% endif %}
{% endblock %}