<!-- lara -->

{% extends 'base.html' %}

{% block title %}
   Isplaniraj moj dan
{% endblock %}

{% block content %}
    <!-- TO DO: home page content -->
       <form method="post" action="{% url 'planMyDaySecond' %}">
       {% csrf_token %}
        <div id="morning">
           <h5>Jutarnje aktivnosti:</h5>
            {% for cat in morningCategories %}
              <input type="checkbox"  name="checks[]" value="{{ cat.name }}" > {{ cat.name }} <br>
            {% endfor %}
        </div>
        <div id="afternoon" style="background-color: lightpink">
            <h5>Popodnevne aktivnosti</h5>
            {% for cat in afternoonCategories %}
              <input type="checkbox" name="checks[]" value="{{ cat.name }}">  {{ cat.name }} <br>
            {% endfor %}
        </div>
        <div id="night">
            <h5>Vecernje aktivnosti</h5>
            {% for cat in nightCategories %}
              <input type="checkbox" name="checks[]" value="{{ cat.name }}" >  {{ cat.name }} <br>
            {% endfor %}
        </div>
       <br>
         <input type="range" min="0" max="2" name="range">
        <input type="submit" class = "btn btn-success"value="Izaberi">
       </form>

{% endblock %}