<!-- teodor -->
<!-- home page -->
{% extends 'base.html' %}

{% block title %}
    Jahorina - Ko preživi, pričaće!
{% endblock %}

{% block content %}
    <!-- TO DO: home page content -->
    {% if user.is_authenticated %}
        <h3> Odabrana staza: {{ track.name }} </h3>
        <hr>
        <form method="post">
        {% csrf_token %}
              {% for field in form %}
                 {{ field.label_tag }} {{ field }} <br>
              {% endfor %}
            <button class="btn btn-success" type="submit" value="{{ track.id }}" name="updateTrack">Azuriraj</button>
        </form>
    {% else %}

    {% endif %}
{% endblock %}