#addTrackContent {
    width: 50%;
    min-width: min-content;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#addButton {
    background-color: white;
    color: seagreen;
    border-width: 3px;
    margin-left: 0;
}

#addButton:hover {
    background-color: seagreen;
    color: white;
}

#cancelButton {
    border-width: 3px;
}
