@font-face {
    font-family: loginFont;
    src: url(../fonts/Quicksand-SemiBold.ttf);
}

#login {
    width:100%;
    text-align: center;
    padding-top: 30px;
    /* font-family: loginFont, sans-serif; */
    color: #0f3c4c;
    padding-bottom: 30px;
}

#register {
    width:100%;
    text-align: center;
    padding-top: 0px;
    /* font-family: loginFont, sans-serif; */
    color: #0f3c4c;
    padding-bottom: 30px;
}

#loginFormWindow {
    text-align: center;
    background-color: rgb(188, 224, 236);
    margin: auto;
    padding: 20px;
    width: 75%;
    border-radius: 10px;
}

.loginButton {
    margin-bottom: 10px;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: loginFont, sans-serif;
    color: rgb(243,235,219);
    background-color: #04AA6D;
    border: none;
}

.loginButton:hover {
    color: #0f3c4c;
    font-weight: bold;
}

.loginInputs {
    background-color: rgb(255, 255, 255);
    border: 1px solid #7db5c9;
    margin-top: 3px;
    margin-bottom: 11px;
    border-radius: 7px;
    padding: 3px;
    width: 60%;
}

.loginLabel {
    margin-top: 7px;
    font-family: loginFont, sans-serif;
}

.loginError {
    color: red;
}

#regFooter {
	width: 100%;
    padding: 0;
    margin: 0;
	text-align: center;

    /* position: fixed;
    bottom: 0; */
}

#regTitle {
    font-family: loginFont, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}