/* teodor */

@font-face {
    font-family: logoFont;
    src: url(../fonts/logoFont.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(../fonts/Quicksand-Medium.ttf);
}

html {
    height: 100%;
}

body {
    background-color: #92cbdf; /* light blue */
    font-family: bodyFont, sans-serif;
    height: 100%;
}

div.container {
	width:100%;
    height:100%;
	margin: 0;
	padding: 0;
	max-width: none;
}

#header {
	width: 100%;
	margin: 0;
	text-align: center;
}

#headerTitle {
    color: #333e40;
	font-family: logoFont, serif;
	font-size: 42px;
    /*align-items: center;*/
	vertical-align: middle;
	padding: 10px;
	background-color: rgb(243,235,219); /* beige */
	margin: 0;
	width: 100%;
}

#navigationBar {
    font-family: bodyFont, sans-serif;
	background-color: #0f3c4c; /* dark */
	padding: 0;
    width: 100%;
}

/*.col-sm-12 {*/
/*    width: 100%;*/
/*    margin: 0;*/
/*}*/

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    /*overflow: auto;*/
    justify-content: left;
    flex: auto;
    padding: 5px;
    font-family: 'bodyFont', sans-serif;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(243,235,219);;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
/* filip */
/* had to be changed, because it interfered with the carousel */
#activeNavItem {
  background-color: #04AA6D;
}

#activeNavItem:hover {
    background-color: #000;
    color: white;
}


/*!* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels *!*/
/*@media screen and (max-width: 500px) {*/
/*  .navbar a {*/
/*    float: none;*/
/*    display: block;*/
/*  }*/
/*}*/

.btn {
    color: rgb(243,235,219);
    background-color: #0a2a3a;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn:hover {
    color: #04AA6D;
}

#content {
    width: 100%;
    padding: 0;
    margin: 0;
    /*height: 100%;*/
}

#footer {
	width: 100%;
    padding: 0;
    margin: 0;
	text-align: center;

    position: fixed;
    bottom: 0;
}