/* filip */
/* css for page with instructors */

/* for alert on top of the page */
#instructorsForm {
    background-color: white;
    border-radius: 5px;
    width: 80%;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 5px 0px 15px;
    vertical-align: middle;
}

.instructors_alert {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* for the entire row with all instructors */
#instructorsRow {
    width: 80%;
    background-color: #c2e4f0;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 50px;
}


/* for container div with instructors card */
.instructorBox {
    background-color: #c2e4f0;
    font-size: 15px;
}



/* for instructors card animation */

.instructors {
    min-height: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.instructors .fa-phone {
    color: #48c798;
}

.instructors:hover .fa-phone {
    color: white;
}

.instructors:hover {
    color: white;
    background-color: #48c798;
}



/* for various effects on social media buttons */
#linksDiv a {
    text-decoration: none;
}

#linksDiv button {
    border: 0;
    border-radius: 5px;
    padding: 4px;
    font-size: 15px;
    color: gray;
}

#btnInsta:hover {
    color: whitesmoke;

    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#btnFb:hover {
    color: whitesmoke;
    background-color: #4267B2;
}

#btnSnap:hover {
    background-color: #FFFC00;
}

/* for search form */
form {
    float: right;
}

form input, select {
    border: 2px solid #92cbdf;
    border-radius: 5px;
    padding: 8px;

}

form button {
    border: 0;
    border-radius: 5px;

    background-color: #efefef;
    padding: 8px;
}

form button:hover {
    background-color: #48c798;
    color: white;
}

#searchBar {
    /*padding: 10px;*/
    min-height: 70px;
    vertical-align: middle;
}

#searchText {
    /*padding: 20px;*/
    /*font-size: large;*/
    min-height: 70px;
    vertical-align: middle;
}

#instFooter {
	width: 100%;
    padding: 0;
    margin: 0;
	text-align: center;

    /* position: fixed;
    bottom: 0; */
}

.instDeleteButton {
    color: red;
}

.instDeleteButton:hover {
    color:white;
    background-color: red;
}