#mapDiv img {
    width: 70%;
    border: 5px solid white;
    border-radius: 10px;
}

#mapDiv {
    margin-bottom: 20px;
}

#coords {
    margin-bottom: 50px;
}

#prikazAlert {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}