/* for main window width */
#editTrackContent {
    width: 80%;
    min-width: min-content;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* for spacings between sections */
.sectionDiv {
    margin-bottom: 30px;
}

/* buttons */
#confirmButton {
    background-color: white;
    color: seagreen;
    border-width: 3px;
    margin-left: 0;
}

#confirmButton:hover {
    background-color: seagreen;
    color: white;
}

#deleteButton {
    background-color: white;
    color: crimson;
    border-width: 3px;
    margin-left: 0;
}

#deleteButton:hover {
    background-color: crimson;
    color: white;
}