{% extends 'base.html' %}

{% block title %}
    Prijava
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        Korisničko ime: {{ loginform.username }}
        Lozinka: {{ loginform.password }}

        <!-- ValidationErrors raised in form's clean() method -->
        {% if loginform.non_field_errors %}
            {% for error in loginform.non_field_errors %}
                {{ error }} <br>
            {% endfor %}
        {% endif %}

        <input type="submit" value="Prijavite se">
    </form>

    <p>
        Ukoliko nemate nalog, registrujte se <a href="{% url 'register' %}">ovde</a>.
    </p>
{% endblock %}