{% extends 'base.html' %}

{% block title %}
    Registracija
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {% for field in regform %}
            {{ field.label_tag }} {{ field }} <br>
        {% endfor %}

        <!-- ValidationErrors raised in form's clean() method -->
        {% if regform.non_field_errors %}
            {% for error in regform.non_field_errors %}
                {{ error }} <br>
            {% endfor %}
        {% endif %}

        <input type="submit" value="Registrujte se">
    </form>

    <p>
        Ukoliko već imate nalog, prijavite se <a href="{% url 'loginRequest' %}">ovde</a>.
    </p>
{% endblock %}