{% extends 'base.html' %}

{% load static %}

{% block title %}
    Registracija
{% endblock %}

{% block links %}
    <link href="{% static 'css/authentication.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-md-1 col-lg-3"></div>
    <div class="col-sm-12 col-md-10 col-lg-6">
        <div id="regTitle"><i class="fa-solid fa-address-card"></i>&nbsp;Registracija</div><br>
        <div id="register">
            <div id="loginFormWindow">
                <form method="post">
                    {% csrf_token %}
                    {% for field in regform %}
                        <span class="loginLabel">{{ field.label_tag }}</span> <br>
                        {{ field }} <br>
                    {% endfor %}

                    {% if errors %}
                        {% for error in errors %}
                            <span class="loginError">{{ error }}</span> <br>
                        {% endfor %}
                    {% endif %}
                    <hr>
                    <button type="submit" class="loginButton"><i class="fa-solid fa-person-skiing"></i>&nbsp;Registruj me</button>
                </form>
                <br>
                <p>
                    Ukoliko već imate nalog, prijavite se <a href="{% url 'loginRequest' %}">ovde</a>.
                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-1 col-lg-3"></div>
{% endblock %}

{% block footer %}
    <div class="row" id="regFooter">
        <p>Copyright &copy 2022</p>
    </div>
{% endblock %}