<!-- lara -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
   Dodajte novu aktivnost
{% endblock %}

{% block links %}
    <link href="{% static "css/addCategory.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class = "row justify-content-center">
        <div class="alert alert-light" id="addCategoryContent">
            <form method="post" style="padding-bottom: 10px">
                {% csrf_token %}
                <div style="display: inline">
                    <h3>Naziv kategorije aktivnosti&nbsp; {{ form.name }}</h3>
                </div>
                <hr>
                <h5>Vaša kategorija obuhvata</h5>

                        <input type="radio" class="btn-check" name="root" id="plava-outlined" value="0">
                        <label class="btn  btn-outline-secondary" for="plava-outlined" id="plavaLabel"><i class="fa-solid fa-sun"></i>&nbsp;Jutarnje aktivnosti</label>

                        <input type="radio" class="btn-check" name="root" id="crvena-outlined" value="1">
                        <label class="btn  btn-outline-secondary" for="crvena-outlined" id="crvenaLabel"><i class="fa-solid fa-person-skiing"></i>&nbsp;Popopodnevne aktivnosti</label>

                        <input type="radio" class="btn-check" name="root" id="crna-outlined" value="2">
                        <label class="btn btn-outline-secondary" for="crna-outlined" id="crnaLabel" ><i class="fa-solid fa-moon"></i>&nbsp;Večernje aktivnosti</label>

                <br>
                <hr>
                {% if errors %}
                    <h6 style="color: crimson; margin-top: 25px">
                        Kategorija sa datim imenom već postoji!
                    </h6>
                {% endif %}
                <button class="btn btn-outline-success" id="addButton"  type="submit">
                    <i class="fa-solid fa-plus"></i>&nbsp;
                    Dodaj
                </button>


            </form>
            {# must be out of form, othervise it acts as if its submit button #}

            <button class="btn btn-outline-secondary" id="cancelButton" onclick="window.location.href={% url 'addActivity' %}">
                <i class="fa-solid fa-ban"></i> Otkaži
            </button>


        </div>
        </div>

    {% endif %}
{% endblock %}