<!-- teodor -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dodajte novu ski-stazu
{% endblock %}

{% block links %}
    <link href="{% static "css/addTrack.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class = "row justify-content-center">
        <div class="alert alert-light" id="addTrackContent">
            <form method="post" style="padding-bottom: 10px">
                {% csrf_token %}
                <div style="display: inline">
                    <h3>Naziv&nbsp; {{ trackform.name }}</h3>
                </div>
                <hr>
                <h5><i class="fa-solid fa-flag"></i>&nbsp;Odaberite boju staze</h5>
            
{#                {% for value, text in trackform.color.field.choices %}#}
{#                    {% if value == 0 %}#}
                        <input type="radio" class="btn-check" name="trackColor" id="plava-outlined" value="0">
                        <label class="btn btn-outline-primary" for="plava-outlined" id="plavaLabel">Plava</label>
{#                        {% elif value == 1 %}#}
                        <input type="radio" class="btn-check" name="trackColor" id="crvena-outlined" value="1">
                        <label class="btn btn-outline-danger" for="crvena-outlined" id="crvenaLabel">Crvena</label>
{#                        {% else %}#}
                        <input type="radio" class="btn-check" name="trackColor" id="crna-outlined" value="2">
                        <label class="btn btn-outline-secondary" for="crna-outlined" id="crnaLabel" >Crna</label>

{#                    {% endif %}#}

{#                {% endfor %}#}
            
{#                {{ trackform.color }}#}
                <br><hr>
                <h5><i class="fa-solid fa-ruler"></i> Dužina &nbsp; {{ trackform.length }}</h5>

                <hr>
                {% if errors %}

                    <h6 style="color: crimson; margin-top: 25px">
                        Već postoji staza sa ovim imenom!
                    </h6>
                {% endif %}
                <button class="btn btn-outline-success" id="addButton"  type="submit">
                    <i class="fa-solid fa-plus"></i>&nbsp;
                    Dodaj novu ski-stazu
                </button>


            </form>

            {# must be out of form, othervise it acts as if its submit button #}
            <button class="btn btn-outline-secondary" id="cancelButton" onclick="window.location.href={% url 'trackInformation' %}">
                <i class="fa-solid fa-ban"></i> Otkaži
            </button>

        </div>
    </div>

{% endblock %}