<!-- teodor -->
{% extends 'base.html' %}

{% block title %}
    Dodajte novu ski-stazu
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {% for field in trackform %}
            {{ field.label_tag }} {{ field }} <br>
        {% endfor %}

        {% if errors %}
            {% for error in errors %}
                {{ error }} <br>
            {% endfor %}
        {% endif %}

        <hr>

        <button type="submit"><i class="fa-solid fa-plus"></i>&nbsp;Dodaj novu ski-stazu</button>
    </form>
{% endblock %}