<!-- lara & filip -->

{% extends 'base.html' %}
{% load static %}

{% block links %}
<link href="{% static 'css/defineActivity.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
   Dodajte novu aktivnost
{% endblock %}

{% block content %}
    <!-- TO DO: home page content -->
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
    <div class="alert alert-light" id="defineActivityContent">
        {% if msg %}
            <div class="alert alert-success">
                <h3> {{ msg }} </h3>
            </div>
        {% endif %}

        <h3><i class="fa-solid fa-plus"></i> {{ category }} : <i>dodavanje nove aktivnosti</i> </h3>
        <hr>
        <form method="post" style="padding-bottom: 10px">
            {% csrf_token %}
            <h5>Na kojoj stazi se nalazi nova aktivnost?</h5>
            {{ form.skitrack }}
            <br>
            <h5>
                <i class="fa-solid fa-house"></i> Naziv objekta: {{ form.obj_name }}
            </h5>
            <br>
            <h5>
                <i class="fa-solid fa-phone" style="color: #48c798"></i>
                Kontakt datog objekta:
                {{ form.obj_contact }}
            </h5>
            <br>


             <button type="submit" name="category" value="{{ category }}" class="btn btn-outline-success" style="border-width: 2px">
                    <i class="fa-solid fa-plus"></i>&nbsp;
                    Dodaj
             </button>


        </form>

        {# must be out of form, othervise it acts as if its submit button #}
        <button class="btn btn-outline-secondary" style="border-width: 2px"
                    onclick="window.location.href={% url 'addActivity' %}">

            <i class="fa-solid fa-ban"></i> Završi sa dodavanjem aktivnosti

        </button>
    </div>
    </div>
    {% endif %}

{% endblock %}