<!-- teodor -->
<!-- ski instructors -->
{% extends 'base.html' %}

{% block title %}
    Naši ski-instruktori
{% endblock %}

{% block content %}
   <div id="instructorList">
        {% if instructors %}
            <p>
                Zakažite čas kod nekog od naših licenciranih ski-instruktora.
            </p>
            {% for instructor in instructors %}
                <div id="instructor">
                    <!-- TO DO: front-end view -->
                    {{ instructor.name }}

                    {% if perms.jahorina.delete_skiinstructor %}
                        <form method="post" action="{% url 'deleteSkiInstructor' %}">
                            {% csrf_token %}
                            <button type="submit" name="skiinstructor_id" value="{{ instructor.id }}"><i class="fa-solid fa-user-xmark"></i>&nbsp;Ukloni</button>
                        </form>
                    {% endif %}

                </div>
            {% endfor %}
        {% else %}
            <p>Nažalost, nema registrovanih ski-instruktora.</p>
        {% endif %}
   </div>
{% endblock %}