{% extends 'base.html' %}
{% load static %}

{% block title %}
    Mapa
{% endblock %}

{% block links %}
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
    <script src = "{% static 'js/map.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-light text-center " id="prikazAlert">
            Prikaz mape Jahorine!
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <img src="{% static 'icons/marker.png' %}" id="marker" style="display: none; position: absolute; width: 20px;" />

        <div id="mapDiv" class="d-flex justify-content-center">
            <img src="{% static 'icons/oc-jahorina-ski-mapa9.jpg' %}" id="jahorinaMap">
        </div>

        <div id="coords" class="d-flex justify-content-center">
            <input type="text" id="coordx">
            <input type="text" id="coordy">
            <input type="submit" value="Posalji koordinate!">

        </div>


    </form>


{% endblock %}
