<!-- filip -->

{% extends 'base.html' %}
{% load static %}

{% block title %}
   Isplaniraj moj dan
{% endblock %}

{% block links %}
    <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
    <script src = "{% static 'js/planMyDayFirst.js' %}"></script>
    <link href="{% static "css/planMyDayFirst.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <form method="post" action="{% url 'planMyDaySecond' %}">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="row" id="planHeader">
            <h3>Plan dana</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor finibus arcu,
                sed consequat dui scelerisque vitae. Cras feugiat fermentum enim, a hendrerit nibh
                tincidunt vel. Proin sed mi porta, imperdiet erat eget, ultricies mauris.
            </p>
        </div>

        <div class="row" id="planContent">
            <div class="col-xl-4 col-lg-12">
                <div class="alert alert-light alertPlanner">
                    <h5>
                        <i class="fa-solid fa-sun"></i>
                        Jutarnja aktivnost
                    </h5>
                    <p>Kojim aktivnostima najviše voliš da započneš dan?</p>
                    <div class="form-check form-switch sectionDiv">
                    {% for cat in morningCategories %}
                        <input type="checkbox" class="form-check-input" name="checks[]" value="{{ cat.name }}" id="id{{ cat.name }}">
                        <label for="id{{ cat.name }}">{{ cat.name }}</label>
                        <br>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12">
                <div class="alert alert-light alertPlanner">
                    <h5>
                        <i class="fa-solid fa-person-skiing"></i>
                        Popodnevna aktivnost
                    </h5>
                    <p>Kako želiš da provedeš kratku pauzu u sred napornog skijaškog dana?</p>
                    <div class="form-check form-switch sectionDiv">
                    {% for cat in afternoonCategories %}
                        <input type="checkbox" class="form-check-input" name="checks[]" value="{{ cat.name }}" id="id{{ cat.name }}">
                        <label for="id{{ cat.name }}">{{ cat.name }}</label>
                        <br>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12">
                <div class="alert alert-light alertPlanner">
                    <h5>
                        <i class="fa-solid fa-moon"></i>
                        Večernja aktivnost
                    </h5>
                    <p>A kako zamišljaš kraj napornog dana?</p>
                    <div class="form-check form-switch sectionDiv">
                    {% for cat in nightCategories %}
                        <input type="checkbox" class="form-check-input" name="checks[]" value="{{ cat.name }}" id="id{{ cat.name }}">
                        <label for="id{{ cat.name }}">{{ cat.name }}</label>
                        <br>
                    {% endfor %}
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="alert alert-light alertPlanner justify-content-center" style="margin-left: 10px;">
                <h3>I za kraj, reci nam kako skijaš? (nema varanja <i class="fa-regular fa-face-laugh-wink"></i>)</h3>
                <div class="row" id="rangeRow">
                    <div class="col-sm-6">
                        <input type="range" min="0" max="2" name="range" id="idRange" oninput="changeRangeLabel(this.value)">
                    </div>

                    <div class="col-sm-6">
                        <label for="idRange" id="rangeLabel">
                            <h5>
                                <i class="fa-solid fa-person-skiing"></i>
                                Onako
                            </h5>

                        </label>

                    </div>
                </div>


                <button type="submit" id="nextBtn" class="btn btn-outline-success">
                        <i class="fa-solid fa-angles-right"></i>
                        Izaberi i pređi na sledeći korak

                </button>
{#                <input type="submit" id="nextBtn" class = "btn btn-outline-success"value="Izaberi i pređi na sledeći korak">#}
            </div>
        </div>

        </div>


    </div>
    </form>
{#    <!-- TO DO: home page content -->#}
{##}
{#        <div id="morning">#}
{#           <h5>Jutarnje aktivnosti:</h5>#}
{#            {% for cat in morningCategories %}#}
{#              <input type="checkbox"  name="checks[]" value="{{ cat.name }}" > {{ cat.name }} <br>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <div id="afternoon" style="background-color: lightpink">#}
{#            <h5>Popodnevne aktivnosti</h5>#}
{#            {% for cat in afternoonCategories %}#}
{#              <input type="checkbox" name="checks[]" value="{{ cat.name }}">  {{ cat.name }} <br>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <div id="night">#}
{#            <h5>Vecernje aktivnosti</h5>#}
{#            {% for cat in nightCategories %}#}
{#              <input type="checkbox" name="checks[]" value="{{ cat.name }}" >  {{ cat.name }} <br>#}
{#            {% endfor %}#}
{#        </div>#}
{#       <br>#}
{#         <input type="range" min="0" max="2" name="range">#}
{#        <input type="submit" class = "btn btn-success"value="Izaberi">#}


{% endblock %}