<!-- lara -->

{% extends 'base.html' %}
{% load static %}

{% block links %}
    <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
    <script src = "{% static 'js/planMyDaySecond.js' %}"></script>
{% endblock %}

{% block title %}
   Isplaniraj moj dan
{% endblock %}

{% block content %}

        <h3>Plan dana: kliknite na objekte </h3>

          <form method="post" action="{% url 'planMyDayFinal' %}">
            {% csrf_token %}
            {% for act in activities %}
                 <!-- action listeners are added via javascript -->
                 <input type="checkbox" name="a_id" value="{{ act.id }}" id="a_id{{ act.id }}" style="display: none">
                    <label for="a_id{{ act.id }}">{{ act.obj_name }} </label>
                 <br>
            {% endfor %}
            <!-- needs to be hidden, used for activity ids passing -->
            <input type="text" name="activity_id_list" id="a_id_list">
            <input type="submit" value="Dalje">
          </form>

            <button onclick="window.location.reload()">Izaberi ponovo</button>

{% endblock %}