{# filip #}

{% extends 'base.html' %}
{% load static %}

{% block title %}
   Plan dana
{% endblock %}

{% block links %}
    <link href="{% static "css/planMyDayFinal.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="row" id="finalHeader">
        <h3>Plan dana</h3>
        <p>
            Nadamo se da ćeš uživati u svom isplaniranom danu!
        </p>
        {% if skiing == 0 %}
            <hr>
            <p class="text-success">
                S obzirom da si se izjasnio kao skijaš početnik, savetujemo ti da zakažeš čas
                sa nekim od naših licenciranih ski-instruktora.
                <br>
                <button class="btn btn-outline-success" type="submit" onclick="window.location.href={% url 'instructors' %}" id="instructorButton"><i class="fa-solid fa-person-skiing"></i> Zakaži čas</button>
            </p>
        {% endif %}
    </div>

    <div class="row" id="finalContent">
        {% if morning %}
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="alert alert-light finalAlert finalMorning">
                    <h4><i class="fa-solid fa-sun"></i> Jutro</h4>
                    <h6>Sjajan način da se započne dan</h6>
                    <hr>
                    {% for foo in morning %}
                        <div class="alert alert-light objectContent">
                            <span style="font-size: 22px; font-weight: bolder">{{ foo.type.name }}</span><br>
                            <i class="fa-solid fa-location-dot" style="color: #c23004"></i>
                            {% if foo.skitrack.color == 0 %}
                                <i class="fa-solid fa-circle" style="color: dodgerblue"></i>
                            {% elif foo.skitrack.color == 1 %}
                                <i class="fa-solid fa-circle" style="color: indianred"></i>
                            {% else %}
                                <i class="fa-solid fa-circle"></i>
                            {% endif %}

                            {{ foo.skitrack.name }}<br>

                            <hr>

                            <i class="fa-solid fa-house"></i> {{ foo.obj_name }} <br>

                            <i class="fa-solid fa-phone"></i>
                             <a href="tel:{{ foo.obj_contact }}">{{ foo.obj_contact }}</a>

                        </div>
                    {% endfor %}

                </div>
            </div>

        {% endif %}

        {% if afternoon %}
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="alert alert-light finalAlert finalAfternoon">
                    <h4><i class="fa-solid fa-person-skiing"></i> Popodne</h4>
                    <h6>Pauza za odmor</h6>
                    <hr>
                    {% for foo in afternoon %}
                        <div class="alert alert-light objectContent">
                            <span style="font-size: 22px; font-weight: bolder">{{ foo.type.name }}</span><br>
                            <i class="fa-solid fa-location-dot" style="color: #c23004"></i>
                            {% if foo.skitrack.color == 0 %}
                                <i class="fa-solid fa-circle" style="color: dodgerblue"></i>
                            {% elif foo.skitrack.color == 1 %}
                                <i class="fa-solid fa-circle" style="color: indianred"></i>
                            {% else %}
                                <i class="fa-solid fa-circle"></i>
                            {% endif %}

                            {{ foo.skitrack.name }}<br>

                            <hr>

                            <i class="fa-solid fa-house"></i> {{ foo.obj_name }} <br>

                            <i class="fa-solid fa-phone"></i>
                             <a href="tel:{{ foo.obj_contact }}">{{ foo.obj_contact }}</a>

                        </div>
                    {% endfor %}

                </div>
            </div>

        {% endif %}

        {% if evening %}
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="alert alert-light finalAlert finalEvening">
                    <h4><i class="fa-solid fa-moon"></i> Veče</h4>
                    <h6>Za savršen kraj savršenog dana</h6>
                    <hr>
                    {% for foo in evening %}
                        <div class="alert alert-light objectContent">
                            <span style="font-size: 22px; font-weight: bolder">{{ foo.type.name }}</span><br>
                            <i class="fa-solid fa-location-dot" style="color: #c23004"></i>
                            {% if foo.skitrack.color == 0 %}
                                <i class="fa-solid fa-circle" style="color: dodgerblue"></i>
                            {% elif foo.skitrack.color == 1 %}
                                <i class="fa-solid fa-circle" style="color: indianred"></i>
                            {% else %}
                                <i class="fa-solid fa-circle"></i>
                            {% endif %}

                            {{ foo.skitrack.name }}<br>

                            <hr>

                            <i class="fa-solid fa-house"></i> {{ foo.obj_name }} <br>

                            <i class="fa-solid fa-phone"></i>
                             <a href="tel:{{ foo.obj_contact }}">{{ foo.obj_contact }}</a>

                        </div>
                    {% endfor %}

                </div>
            </div>
        {% endif %}

    </div>

    </div>
{##}
{#     <h1>Vas plan dana</h1>#}
{#        <!-- morning activities -->#}
{#        {% if morning %}#}
{#            {% for a in morning %}#}
{#                {{ a }} <br>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{##}
{#        <!-- afternoon activities -->#}
{#        {% if afternoon %}#}
{#            {% for a in afternoon %}#}
{#                {{ a }} <br>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{##}
{#        <!-- evening activities -->#}
{#        {% if evening %}#}
{#            {% for a in evening %}#}
{#                {{ a }} <br>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{% endblock %}

{% block footer %}
    <div class="row" id="myFooter">
                <p>Copyright &copy 2022</p>
    </div>
{% endblock %}