<!-- lara -->
{% extends 'base.html' %}

{% block title %}
    Jahorina - Ko preživi, pričaće!
{% endblock %}

{% block content %}
    <!-- TO DO: home page content -->
    {% if user.is_authenticated %}
        <h3> Odabrana staza: {{ track.name }} </h3>
        <hr>
        <form method="post">
        {% csrf_token %}
{#              {% for field in form %}#}
{#                 {{ field.label_tag }} {{ field }} <br>#}
{#              {% endfor %}#}
                {{ form }}
              <button type="submit" value="{{ track.id }}" name="updateTrack">Azuriraj</button>
        </form>

        <!-- teodor -->
        <!-- delete button -->
        {% if perms.jahorina.delete_skitrack %}
            <form method="post" action="{% url 'deleteSkiTrack' %}">
                {% csrf_token %}
                <button type="submit" name="skitrack_id" value="{{ track.id }}"><i class="fa-solid fa-xmark"></i>&nbsp;Ukloni</button>
            </form>
        {% endif %}
    {% else %}

    {% endif %}
{% endblock %}