div{
    font-family: Verdana, sans-serif; 
    color: rgb(240, 240, 245);
    text-align: left;
    text-decoration:double;
    font-size:larger;
    background-color:rgb(205, 193, 236);
    line-height: 1.5;
    margin-top:0%;
    border-bottom: 3cm;
    border-bottom:rgb(65, 50, 204);
    border-width: 3cm;
    background-image: url(slike/slika1.jpg);
    
}

#logoId{
    height: fit-content;
    height: 100px;
    width: 100px;
    border-style:groove;
    border-color: rgb(0, 26, 59);
    border-left-width: 0.25cm;
    border-right-width: 0.25cm;
    border-bottom-width:0.5cm;
    border-top-width: 0.5cm;
    margin-left: 3%;
    text-align:center;
    text-decoration: double;
    color:rgb(6, 6, 83);
    background-color: aquamarine;
}

#pocetniDiv{
    height: 60px;
    background-image:linear-gradient(rgb(115, 166, 241), rgb(144, 178, 253), rgb(133, 170, 252));
    text-align: center;
}


a{
    color: rgb(53, 6, 139);
}

#logoDiv{
    color: rgb(4, 4, 88);
    text-align: center;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:linear-gradient(rgb(98, 135, 255), rgb(125, 167, 247));
}

h1{
    box-shadow: none !important;
}

html{
    min-width: 100%;
    background-size: cover;
    background-image: url("slike/slidza.jpg");
}

#azuriranjeDiv
{
    background-color:rgb(115, 166, 241);
    border: 3px solid rgb(67, 97, 143);
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1cm;
    padding: 10px;
    background-image: none;
}

#azuriranjeDiv p{
    text-align: center;
    color:whitesmoke;
    background-color: rgb(37, 56, 85);
    border: 3px solid rgb(67, 97, 143);
    border-radius: 10px;
    font-style: italic;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

#azuriranjeDiv p:hover{ 
    color:rgb(0, 26, 59);
    background-color: rgb(231, 212, 43);
    border: 3px solid rgb(231, 212, 43);
}

#azuriranjeDiv h2{
    text-align: center;
    color:rgb(0, 26, 59)
}

#azuriranjeDiv h4{
    text-align: center;
}

#aktivnostDiv{
    background-color:rgb(115, 166, 241);
    border: 3px solid rgb(67, 97, 143);
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1cm;
    padding: 10px;
    background-image: none;
}

#aktivnostDiv h2{
    text-align: center;
    color:rgb(0, 26, 59)
}

#aktivnostDiv h4{
    text-align: center;
}

#aktivnostDiv p{
    margin-left: 2cm;
    text-align: left;
    color:rgb(255, 255, 255)
}
