html{
    min-width: 100%;
    background-size: cover;
    background-image: url(slike/slidza.jpg);
    text-align: center;
}

table{
    text-align: center;
    align-self: baseline;
    width: 100%;
    height: 75%;
    border-spacing: 3cm;
    row-gap: 20%;
}

form{
    font-size: large;
}

