html{
    min-width: 100%;
    background-size: cover;
    background-image: url(slike/slidza.jpg);
    text-align: center;
}


.divTxt{
    text-align: center;
    display:inline-block;
    align-content: center;
   	padding: 10px;
	max-width: 700px;
	background: lighten(rgb(14, 24, 158), 20%);
	border: 5px ridge rgb(91, 79, 255);
	box-shadow: 0 0 0 (5px / 2) darken(rgb(34, 22, 138), 20%),
		        0 0 0 (5px * 2.5) #fff,
		        inset 0 0 0 (5px / 2) darken(rgb(34, 22, 138), 20%),
		        0 5px (5px * 2) (5px * 3) rgba(0,0,0,0.5),
		        inset 0 0 0 (5px * 1.2) #fff,
		        inset 0 0 100vw 100vw beige;
	color: rgb(0, 0, 0);
	font-family: Marcellus, serif;
	font-size: 0.50cm;
	text-align: center;
    background-color: rgb(153, 155, 250);
    background-blend-mode:soft-light;
}

#pocetniDiv{
height: 60px;
background-image:linear-gradient(rgb(115, 166, 241), rgb(144, 178, 253), rgb(133, 170, 252));
text-align: center;
}